// index.scss - Shared SCSS Entry Point
// Import this file to get access to all shared SCSS utilities
//
// Usage in app SCSS modules:
//   @use "@soundblue/shared/styles/scss" as *;
//
// Or import specific partials:
//   @use "@soundblue/shared/styles/scss/variables" as vars;
//   @use "@soundblue/shared/styles/scss/mixins" as mix;

// Forward all partials so consumers can use them
@forward "variables";
@forward "mixins";
@forward "animations";

// Re-export for namespaced access
@use "variables" as *;
@use "mixins" as *;
@use "animations" as *;
